  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ </a></li>
        <li><a ui-sref="product_categories">Danh sách sản phẩm</a></li>
        <li class="active">Thêm sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddProduct" role="form" ng-submit="AddProduct()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="inputEmail3" ng-maxlength="25" required ng-model="product.Name" placeholder="Name">
                        <span ng-show="frmAddProduct.name.$invalid" class="has-error">Bạn cần nhập name</span>
                        <span ng-show="frmAddProduct.$error.maxlength" class="has-error">Bạn nhap qua ki tu</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price" id="inputPassword3" required ng-model="product.Price" placeholder="Price">
                        <span ng-show="frmAddProduct.price.$invalid" class="has-error">Bạn cần nhập price</span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">PromotionPrice</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="proprice" id="inputPassword3" required ng-model="product.PromotionPrice" placeholder="PromotionPrice">
                        <span ng-show="frmAddProduct.proprice.$invalid" class="has-error">Bạn cần nhập price</span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">CategoryID</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="product.CategoryID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Warranty</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="Warranty" id="inputPassword3" ng-model="product.Warranty" placeholder="Warranty">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Description" id="inputPassword3" ng-model="product.Description" placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="Content" id="inputPassword3" ckeditor="ckeditorOptions" ng-model="product.Content" placeholder="Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="product.Image">
                        <span ng-show="frmAddProduct.image.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Thêm ảnh</label>
                    <div class="col-sm-10">
                        <ul class="list-inline">
                            <li ng-repeat="img in moreImages"><img ng-src="{{img}}" width="100" /></li>
                        </ul>
                        <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Status" ng-model="product.Status" ng-checked="product.Status"> Status
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hotflag" ng-model="product.HotFlag" ng-checked="product.HotFlag"> Hiển thị Home
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="products" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmAddProduct.$invalid">Thêm</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->